{% extends 'user_home/base.html' %}
{% load static %}
{% block search %}
<form action="{% url 'user_search_product' %}" method='POST'>
    {% csrf_token %}
        <div class="input-group">
            <input value="{{search_text}}" name="search_text" type="text" class="form-control" placeholder="Search for products">
            <div class="input-group-append">
                <span class="input-group-text bg-transparent text-primary">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </form>
{% endblock search %}
{% block title %}
Beatandbase
{% endblock title %}
{% block body %}    
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-12 p-3">

            <!-- Brand Start -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Filter by Brand</h5>
                <form>
                    {% for brand in brands  %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        {% if brand.product_set.count  %}
                        <input type="checkbox" class="custom-control-input" id="{{brand.brand_name}}">
                        {% endif %}
                        <label class="custom-control-label" for="{{brand.brand_name}}">{{brand.brand_name}}</label>
                        <span class="badge border font-weight-normal">{{brand.product_set.count}}</span>
                    </div>
                    {% endfor %}
                </form>
            </div>
            
            <!-- Brand End -->

            <!-- Brand Start -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Filter by Category</h5>
                <form>
                    {% for cat in categories  %}
                        <div class="custom-control  custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            {% if cat.product_set.count  %}
                            <input type="checkbox" class="custom-control-input" id="{{cat.category_name}}">
                            {% endif %}
                            <label class="custom-control-label" for="{{cat.category_name}}">{{cat.category_name}}</label>
                            <span class="badge border font-weight-normal">{{cat.product_set.count}}</span>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <!-- Brand End -->
            
        </div>
        <!-- Shop Sidebar End -->

        {% if product %}
           
        <!-- Shop Product Start -->
        <div class="col-lg-9">

        <h3 class="text-center"> {{product.count}} Result found for search "<span class="text-primary">{{search_text}}</span>" </h3>

            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-end mb-4">
                        <div class="dropdown ml-4">
                            <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                        Sort by
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                        <form action="" method="get">
                                        <a class="dropdown-item" href="?sort_by=price_low_to_high">Sort by Price: Low to High</a>
                                        <a class="dropdown-item" href="?sort_by=price_high_to_low">Sort by Price: High to Low</a>
                                        <a class="dropdown-item" href="?sort_by=name_a_to_z">Sort by Name: A to Z</a>
                                        <a class="dropdown-item" href="?sort_by=name_z_to_a">Sort by Name: Z to A</a>
                                        </form>
                                    </div>
                        </div>
                    </div>
                </div>
                {% for p in product%}
                <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <a href="{% url 'product_detail' p.id %}">
                                <img class="img-fluid w-100" src="{{p.product_img.url}}" alt="">
                            </a>
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">{{p.product_name}}</h6>
                            <div class="d-flex justify-content-center">
                                <h6>$123.00</h6><h6 class="text-muted ml-2"><del>{{p.product_price}}</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="{% url 'product_detail' p.id %}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
{% else %}
                No Products found
                {% endif %}

{% endblock body %}