
{% extends 'user_home/base.html' %}
{% load mathfilters %} 
{% load static %}
{% load my_filters %}
{% block title %}
Checkout
{% endblock title %}

{% block links %}

<!-- Sweet alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">

{% endblock links %}

{% block body %}

    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-6">
                <div class="mb-4">

                  {% if shipping_address %}
                    <h4 class="font-weight-semi-bold mb-4">Select Address</h4>
                    
                          {% for index,address in shipping_address|with_index  %}
                            <div class="card mb-3">
                              <div class="custom-control custom-radio h-100 m-2 d-flex align-items-center">
                                <input onclick="get_address()" id="{{address.id}}" name="address" type="radio" class="custom-control-input" {% if index == 0 %}checked{% endif %} required>
                                <label class="custom-control-label" for="{{address.id}}"></label>
                              </div>
                              <div class="card-body">
                                <h5 class="card-title">{{address.house_name}}, {{address.pincode}}</h5>
                                <p class="card-text">{{address.city}}, near {{address.landmark}}</p>
                              <div>
                              <!-- Button trigger modal -->
                                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#address{{forloop.counter}}">
                                  View
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="address{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h4 class="modal-title fs-6" id="staticBackdropLabel">View address</h4>
                                        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                                          <i class="fa fa-times"></i>
                                        </button>
                                      </div>
                                      <div class="modal-body">

                                        <div class="row">
                                          <div class="col-sm-5">
                                            <p class="mb-0">House Name</p>
                                          </div>
                                          <div class="col-sm-7">
                                              {{ a.house_name}}
                                          </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                          <div class="col-sm-5">
                                            <p class="mb-0">City</p>
                                          </div>
                                          <div class="col-sm-7">
                                              {{ a.city}}
                                          </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                          <div class="col-sm-5">
                                            <p class="mb-0">Landmark</p>
                                          </div>
                                          <div class="col-sm-7">
                                              {{ a.landmark}}
                                          </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                          <div class="col-sm-5">
                                            <p class="mb-0">Pincode</p>
                                          </div>
                                          <div class="col-sm-7">
                                              {{ a.pincode}}
                                          </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                          <div class="col-sm-5">
                                            <p class="mb-0">District</p>
                                          </div>
                                          <div class="col-sm-7">
                                              {{ a.district}}
                                          </div>
                                        </div>
                                        <hr>

                                        <div class="row">
                                          <div class="col-sm-5">
                                            <p class="mb-0">State</p>
                                          </div>
                                          <div class="col-sm-7">
                                              {{ a.state}}
                                          </div>
                                        </div>

                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                    {% else %}
                    <div class="card-body">
                      <h5 class="card-title">No address saved</h5>
                      <p class="card-text"> </p>
                      <div>
                      </div>
                    </div>
                {% endif %}
                </div>
                

            <a  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addaddress{{forloop.counter}}">
              Add new address
            </a>

            <!--Add address Modal -->
            <div class="modal fade" id="addaddress{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="" id="exampleModalLabel">Delete</h5>
                    <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close"> <i class="fa fa-cancel" ></i>X </button>
                  </div>

                  <div class="modal-body">
                    <form action="{% url 'add_address_checkout' %}" method="POST">
                        {% csrf_token %}
                        {{form.as_table}}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{% url 'checkout'  %}" class="btn btn-primary">Close</a>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>

                <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input class="form-control" type="text" placeholder="John">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Doe">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" placeholder="example@email.com">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" placeholder="+123 456 789">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 1</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Address Line 2</label>
                            <input class="form-control" type="text" placeholder="123 Street">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <select class="custom-select">
                                <option  selected>India</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" placeholder="New York">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" placeholder="123">
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-6 my-3">
                <div class="card border-secondary mb-5">

                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>

                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                          {% for variant  in variants  %}
                          <div class="d-flex justify-content-between">
                            <div class="d-flex justify-content-between">
                                <div  style="width: 60px; margin-right: 10px;">
                                    <img class="w-100" src="{{variant.variant.product.product_img.url}}" alt="">
                                </div>
                                <p class="my-auto">{{variant.variant.product.product_name}} ({{variant.variant.color}}) &nbsp; x {{variant.qty}}</p>
                            </div>

                            <p class="my-auto">₹ {{variant.variant.price}}</p>

                        </div>
                        {% endfor %}
                        <hr class="mt-0">

                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <p class="my-auto">{{sub_total}}</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">₹ 100</h6>
                        </div>

                        <div class="d-flex justify-content-between">
                          <h6 class="font-weight-medium">GST</h6>
                          <h6 class="font-weight-medium">₹ {{sub_total|mul:0.05}}</h6>
                       </div>

                    </div>

                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold"> ₹ {{ total  }} </h5>
                        </div>
                    </div>

                </div>

                <!-- Payment methods -->
                <div class="card border-secondary mb-5">
                    <form  method="post">
                        {% csrf_token %}

                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Payment</h4>
                        </div>
                        <div class="card-body">
                          
                            <div class="form-group">
                              {% for pm in payment_methods  %}
                                <div class="custom-control custom-radio">
                                    <input {% if pm.id == 2 %}checked{% endif %} onclick="get_payment_method()" name="payment" type="radio" class="custom-control-input" id="{{pm.id}}">
                                    <label class="custom-control-label" for="{{pm.id}}">{{pm.method}}</label>
                                </div>
                                {% endfor %}
                            </div> 

                        </div>

                        <div class="card-footer border-secondary bg-transparent">
                            <button id="place_order" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                            {% comment %} <button id="rzp-button1">Pay</button> {% endcomment %}
                          </div>

                    </form>
                </div>
              </div>
          </div>
      </div>
    <!-- Checkout End -->

    <script>
      var shipping_address = $('input[name="address"]:checked').attr('id')
      var payment_method;
      const cart_variants=[]
      const variants_quantity=[]
      {% for variant in variants  %}
        
      cart_variants.push('{{variant.id}}')
      variants_quantity.push('{{variant.qty}}')

      {% endfor %}

      var qty = '{{quantity}}';
      var total ='{{total}}';
      var tax = '{{gst}}';

      function get_payment_method(){
        var adrs = document.getElementsByName('payment');
        for (i=0;i<adrs.length;i++){
          if (adrs[i].checked){
            attr = adrs[i].getAttribute('id')
            payment_method = attr
            console.log(
        shipping_address,cart_variants,qty,total,tax,payment_method
      )
          }
        }
      }
      
      function get_address(){
        var adrs = document.getElementsByName('address');
        for (i=0;i<adrs.length;i++){
          if (adrs[i].checked){
            attr = adrs[i].getAttribute('id')
            shipping_address = attr
            console.log(shipping_address,variant,qty,total,tax,payment_method)
          }
        }
      }

      function cod_order(){
        $.ajax({
          url: '{% url "place_order" %}',
          type:'POST',
          data: {
              csrfmiddlewaretoken: "{{csrf_token}}",
              action:'post',
              'shipping_address': shipping_address,
              'total': total,
              'gst': tax,
              'payment_method':payment_method,
              'from':'cart',
          },
          success: function() {
            Swal.fire({
              icon: 'success',
              title: 'Your order placed successfully',            
              confirmButtonText: 'Ok',
              
            }).then((result) => {
              /* Read more about isConfirmed, isDenied below */
              if (result.isConfirmed) {
                window.location.href = `http://127.0.0.1:8989/orders/invoice/?id=${order_id}`
              }  
            
            })
  
             
          },
        
            error: function(xhr, errmsg, err){
        
        
            }
        
        });
        
        
      }


    </script>

    <!-- payment scripts -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
      var options = {
          "key": "rzp_test_j7tLlhYiBfKPT3", // Enter the Key ID generated from the Dashboard
          "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
          "name": "beatandbase",
          "description": "{{variant.product}}",
          "image": "{% static 'user_home/images/icon.png' %}",
          "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "handler": function (response){
              alert(response.razorpay_payment_id);
              alert(response.razorpay_order_id);
              alert(response.razorpay_signature)
          },
          "prefill": {
              "name": "{{request.user.username}}",
              "email": "{{request.user}}",
              "contact": "{{request.user.phone}}"
          },
          "notes": {
              "address": "Razorpay Corporate Office"
          },
          "theme": {
              "color": "#d93636"
          }
      };
      var rzp1 = new Razorpay(options);
      rzp1.on('payment.failed', function (response){
              alert(response.error.code);
              alert(response.error.description);
              alert(response.error.source);
              alert(response.error.step);
              alert(response.error.reason);
              alert(response.error.metadata.order_id);
              alert(response.error.metadata.payment_id);
      });
      document.getElementById('place_order').onclick = function(e){
          e.preventDefault();
          method = document.querySelector('input[name="payment"]:checked').getAttribute('id')
          if(method == 1){
            cod_order()
          }
          else if(method == 2){
            rzp1.open();
          }
          
      }
      </script>

    {% endblock body %}