{% extends 'user_home/base.html' %} 
{% load static %} 

{% block links %}
<link rel="stylesheet" href="{% static 'user_products/css/orde_successful.css' %}">
{% endblock links %}

{% block title %}Order Successfully{% endblock %} 

{% block body %}

<div class="container mt-4 mb-4">
    <div class="row d-flex cart align-items-center justify-content-center">
        <div class="col-md-10">
            <div class="card m-2">
                <div class="row g-0">
                    <div class="col-md-12 border-right p-5">
                        <div class="text-center order-details">
                            <span class="font-weight-bold fs-25">Your order has been received</span><br><br><br>
                            <div class="d-flex justify-content-center mb-5 flex-column align-items-center">
                                <div style="width: 120px;" >
                                   <span class="check1">
                                        <img  src="https://cms-assets.tutsplus.com/cdn-cgi/image/width=1700/uploads/users/523/posts/32694/final_image/tutorial-preview-large.png" class="w-100" alt="">
                                    </span><br>
                                </div>
                                <span class="font-weight-bold fs-20">Thank you for your purchase!</span>
                                <small class="mt-2 fs-15">Your order ID is : 12345678</small>
                            </div>
                            <a href="{% url 'index_page' %}"><button class="btn btn-danger order-button">CONTINUE SHOPPING</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}